<footer class="footer">
   <div class="container bottom_border">
   <ul class="foote_bottom_ul_amrc">
    <h3 style="color:white;"  class="text-center">Sign up for the newsletter</h3>
    <h5 style="color:white;"  class="text-center">Links to the best biological Python and bioinformatics content on the web, no spam.</h3>
     <script async src="https://eomail5.com/form/fbc6d37e-0672-11ec-96e5-06b4694bee2a.js" data-form="fbc6d37e-0672-11ec-96e5-06b4694bee2a"></script>
     </ul>
   </div>
   <div class="container">
      <ul class="foote_bottom_ul_amrc">
         <li><a href="/">HOME</a></li>
         <li><a href="{{ ABOUT_PAGE }}">ABOUT</a></li>
         <li><a href="{{ ARCHIVE_PAGE }}">ARCHIVE</a></li>
      </ul>
      <!--foote_bottom_ul_amrc ends here-->
      <p class="text-center">{{ COPYRIGHT_NOTICE }}</p>
        
          
      </div>

      <!--social_footer_ul ends here-->
   </div>
</footer>
